*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --first: #ffffff;
    --second: #9381ff;
    --third: #ffa62b;
    --fourth: #6a3937;
    --fifth: #02111b;
    --font: "Lobster Two", cursive;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../images/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

main {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    overflow: hidden;
    padding: 3em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
}

main h1 {
    margin: 0 0 0.5em 0;
    font-size: 6rem;
    font-weight: 400;
}

.selection-menu {
    display: flex;
    flex-direction: column;
    gap: 1.7em;
}

.selection-menu a {
    text-decoration: none;
    color: var(--fourth);
    background-color: white;
    font-size: 2rem;
    border-radius: 0.4em;
    border: 2.1px solid var(--second);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1em 3.6em;
    transition: all 500ms;
    text-align: center;
}

.selection-menu a:hover {
    box-shadow: var(--second) 0px 5px 15px;
    transform: translateY(-7px);
}
