body {
    margin: 0;
    padding: 0;
    background-image: url("/images/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;
    padding-top: 3em;
}

button:focus {
    outline: 0;
}

fieldset {
    width: 80%;
    margin: auto;
    gap: 2%;
    border: 3px solid var(--second);
    border-radius: 1em;
    min-height: 150px;
    padding: 1%;
}

fieldset legend {
    font-size: 4rem;
    font-family: var(--font);
    margin-left: 1em;
}

fieldset h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--font);
}

.tab-group {
    background-color: var(--first);
    border-radius: 1em;
    padding: 2em 3%;
    margin: 0.5;
}

.tab {
    cursor: pointer;
    padding-top: 1.2em;
    border-bottom: 2px solid lightgrey;
    width: 100%;
    margin: auto;
}

.tab:hover {
    border-bottom: 2px solid var(--second);
}

.tab:first-of-type {
    padding-top: 0em;
}

.tab .title {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    font-size: 0.6rem;
    width: 100%;
    border-radius: 0.5rem;
    transition: padding 500ms, background-color 500ms;
}

.tab .title h2 {
    text-transform: capitalize;
    font-weight: 400;
    margin: 0;
    font-size: 1.5rem;
}

.tab .title div {
    font-size: 1.5rem;
}

.tab.active .title {
    padding: 1em 1em;
    background-color: var(--second);
    color: white;
}

.tab .content {
    max-height: 0;
    opacity: 0;
    padding: 0;
    border: 1.4px solid var(--second);
    border-top: 0;
    border-radius: 0 0 20px 20px;
    transform: translateY(-7px);
    padding: 0.3em;
    overflow: hidden;
    transition: max-height 500ms, padding 500ms, opacity 500ms;
    z-index: -100;
}

.tab.active .content {
    opacity: 1;
    padding-top: 0.5em;
    max-height: 400px;
}

.tab .content table {
    width: 100%;
    font-size: 1.3rem;
    border-radius: 20px;
    opacity: 0;
    transform: scale(0);
    transition: opacity 500ms ease-in, transform 500ms;
}

.tab.active .content table {
    transform: scale(1);
    opacity: 1;
}

.tab .content table tbody {
    overflow: hidden;
}

.tab .content table tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5em;
    border-radius: 0.5em;
}

.tab .content table tr:nth-of-type(even) {
    background-color: lightgray;
}

.tab .content table td:first-of-type {
    text-transform: capitalize;
}

.tab .content table td:nth-of-type(2) {
    text-align: right;
}

.tab .content table .details {
    width: 50%;
    margin: 0 0 0.3em;
}

.tab .content table .action {
    width: 100%;
    overflow: hidden;
    display: flex;
    padding: 0;
    max-height: 0;
    transition: max-height 250ms linear;
}

.tab .content table .action.active {
    max-height: 28.6px;
}

.tab .content table .action button {
    border: 0;
    color: white;
    border-radius: 0.4em;
    padding: 0.5em 1em;
}

.action button:first-of-type {
    background-color: #0d6efd;
    margin-right: 0.4em;
}

.action button:last-of-type {
    background-color: #dc3545;
}

/* -----------------Media--------------------- */

@media (max-width: 450px) {
    fieldset legend {
        margin: auto;
    }

    .action {
        justify-content: space-between;
    }

    .action button:first-of-type {
        margin: 0;
    }
}
