body {
    min-height: 100vh;
}

button:focus {
    outline: 0;
}

.main {
    padding-top: 3em;
}

fieldset {
    width: 80%;
    margin: 0 auto 1em;
    gap: 2%;
    border: 3px solid var(--second);
    border-radius: 1em;
    min-height: 150px;
    padding: 1%;
}

fieldset legend {
    font-size: 4rem;
    font-family: var(--font);
    margin-left: 1em;
}

fieldset h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--font);
}

.tab-group {
    background-color: var(--first);
    border-radius: 1em;
    padding: 2em 3%;
    margin: 0.5;
}

.tab {
    cursor: pointer;
    padding-top: 1.2em;
    border-bottom: 2px solid lightgrey;
    width: 100%;
    margin: auto;
}

.tab:hover {
    border-bottom: 2px solid var(--second);
}

.tab:first-of-type {
    padding-top: 0em;
}

.tab .title {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    font-size: 0.6rem;
    width: 100%;
    border-radius: 0.5rem;
    transition: padding 500ms, background-color 500ms;
}

.tab .title h2 {
    text-transform: capitalize;
    font-weight: 400;
    margin: 0;
    font-size: 1.5rem;
}

.tab .title div {
    font-size: 1.5rem;
}

.tab.active .title {
    padding: 1em 1em;
    background-color: var(--second);
    color: white;
}

.tab .content {
    opacity: 0;
    padding: 0;
    border: 1.4px solid var(--second);
    border-top: 0;
    border-radius: 0 0 20px 20px;
    transform: translateY(-7px);
    padding: 0.3em;
    overflow: hidden;
    z-index: -100;
    transition: max-height 500ms, padding 500ms, opacity 500ms;
}

.tab.active .content {
    opacity: 1;
    padding-top: 0.5em;
}

.tab .content table {
    width: 100%;
    font-size: 1.3rem;
    border-radius: 20px;
    opacity: 0;
    transform: scale(0);
    transition: opacity 500ms ease-in, transform 500ms;
}

.tab.active .content table {
    transform: scale(1);
    opacity: 1;
}

.tab .content table tbody {
    overflow: hidden;
}

.tab .content table tr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    border-radius: 0.5em;
}

.tab .content table tr:nth-of-type(even) {
    background-color: lightgray;
}

.tab .content table td:first-of-type {
    text-transform: capitalize;
}

.tab .content table td:nth-of-type(2) {
    text-align: right;
}

.tab .content table .details {
    width: 50%;
    margin: 0 0 0.3em;
}

.tab .content table .action {
    width: 100%;
    overflow: hidden;
    display: flex;
    padding: 0;
    max-height: 0;
    transition: max-height 250ms linear;
}

.tab .content table .action.active {
    max-height: 28.6px;
}

.tab .content table .action button {
    border: 0;
    color: white;
    border-radius: 0.4em;
    padding: 0.5em 1em;
    cursor: pointer;
}

.action button:first-of-type {
    background-color: #0d6efd;
    margin-right: 0.4em;
}

.action button:last-of-type {
    background-color: #dc3545;
}

/* ------------------Edit form---------------- */

.edit-form {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(0px);
    z-index: -1;
    transition: backdrop-filter 500ms, background-color 500ms,
        z-index 500ms step-end;
    background-color: transparent;
}

.edit-form.active {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    transition: backdrop-filter 500ms, background-color 500ms, z-index 0ms;
}

.edit-form form {
    width: 30%;
    background-color: white;
    height: 0%;
    padding: 2em;
    border-radius: 0 0 1.5em 1.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0em 0.15em 0.5em;
    font-size: 1.5em;
    transform: translateY(-105%);
    transition: transform 500ms;
}

.edit-form.active form {
    transform: translateY(0);
}

.edit-form form label {
    display: block;
}

.edit-form form input {
    padding: 0.7em;
    outline: 0;
    border: 0.2em solid var(--second);
    border-radius: 0.3em;
    margin-bottom: 1em;
    margin-top: 0.3em;
    font-size: 0.7em;
}

.edit-form form label,
.edit-form form input {
    font-family: var(--font);
    width: 100%;
}

.buttons {
    margin-top: 0.2em;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.buttons button {
    cursor: pointer;
    font-size: 0.7em;
    padding: 0.7em 1.4em;
    color: white;
    border: 0;
    border-radius: 0.5em;
}

.cancel {
    background-color: #dc3545;
}

.submit {
    background-color: #198754;
}

/* -----------------Media--------------------- */

@media (max-width: 1100px) {
    .edit-form form {
        width: 65%;
    }
}

@media (max-width: 450px) {
    fieldset {
        width: 95%;
    }

    fieldset legend {
        margin: auto;
    }

    .action {
        justify-content: space-between;
    }

    .action button:first-of-type {
        margin: 0;
    }

    .edit-form form {
        width: 95%;
    }
}
