body {
    min-height: 100vh;
}

.main {
    padding-top: 3em;
}

fieldset {
    width: 80%;
    margin: auto;
    gap: 2%;
    border: 0.4em solid var(--second);
    border-radius: 1em;
    min-height: 150px;
    padding: 1%;
}

fieldset legend {
    font-size: 4em;
    font-family: var(--font);
    margin-left: 1em;
    text-transform: capitalize;
}

.content {
    width: 100%;
    font-size: 1.3em;
    border-radius: 1.5em;
}

.content tr {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5em;
    border-radius: 0.5em;
}

.content tr:nth-of-type(odd) {
    background-color: lightgrey;
}

.content td:first-of-type {
    text-transform: capitalize;
}

.content td:nth-of-type(2) {
    text-align: right;
}

.content td:last-of-type {
    text-align: right;
}

.pays,
.takes {
    border-radius: 2em;
    padding: 1.5em;
    background-color: white;
    margin: 1em 0;
}

.pays h1,
.takes h1 {
    font-family: var(--font);
    font-size: 3em;
    font-weight: 400;
    margin: 0 0 0.5em 0;
}

hr {
    width: 99%;
    background-color: black;
    border: 1px solid black;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.2em;
    font-size: 1.5em;
}

.total p {
    font-family: var(--font);
    font-weight: 400;
    margin: 0;
}

.grand-total {
    display: flex;
    justify-content: space-between;
}

.grand-total p {
    font-family: var(--font);
    font-weight: 200;
    font-size: 3.5em;
    margin: 0.5em 0;
    padding: 0 0.2em;
}

/* ------------------------ */

.content .details {
    width: 50%;
    margin: 0 0 0.3em;
}

.content .action {
    width: 100%;
    overflow: hidden;
    display: flex;
    padding: 0;
    max-height: 0;
    transition: max-height 250ms linear;
}

.content .action.active {
    max-height: 2em;
}

.content .action button {
    border: 0;
    color: white;
    font-size: inherit;
    border-radius: 0.4em;
    padding: 0.4em 1em;
    cursor: pointer;
    font-size: 0.8em;
}

.action button:first-of-type {
    background-color: #0d6efd;
    margin-right: 0.4em;
}

.action button:last-of-type {
    background-color: #dc3545;
}

/* ------------------Edit form---------------- */

.edit-form {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(0px);
    z-index: -1;
    transition: backdrop-filter 500ms, background-color 500ms,
        z-index 500ms step-end;
    background-color: transparent;
}

.edit-form.active {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    transition: backdrop-filter 500ms, background-color 500ms, z-index 0ms;
}

.edit-form form {
    width: 30%;
    background-color: white;
    height: 0%;
    padding: 2em;
    border-radius: 0 0 1.5em 1.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0em 0.15em 0.5em;
    font-size: 1.5em;
    transform: translateY(-105%);
    transition: transform 500ms;
}

.edit-form.active form {
    transform: translateY(0);
}

.edit-form form label {
    display: block;
}

.edit-form form input {
    padding: 0.7em;
    outline: 0;
    border: 0.2em solid var(--second);
    border-radius: 0.3em;
    margin-bottom: 1em;
    margin-top: 0.3em;
    font-size: 0.7em;
}

.edit-form form label,
.edit-form form input {
    font-family: var(--font);
    width: 100%;
}

.buttons {
    margin-top: 0.2em;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.buttons button {
    cursor: pointer;
    font-size: 0.7em;
    padding: 0.7em 1.4em;
    color: white;
    border: 0;
    border-radius: 0.5em;
}

.cancel {
    background-color: #dc3545;
}

.submit {
    background-color: #198754;
}

/* -----------------Media--------------------- */

@media (max-width: 1100px) {
    .edit-form form {
        width: 65%;
    }
}

@media (max-width: 450px) {
    body {
        font-size: 0.7em;
    }

    fieldset {
        width: 95%;
        margin-bottom: 1em;
    }

    fieldset legend {
        margin: auto;
    }

    .action {
        justify-content: space-between;
    }

    .action button:first-of-type {
        margin: 0;
    }

    .grand-total p {
        font-size: 2.5em;
    }

    .edit-form form {
        width: 95%;
    }
}
