*,
::after,
::before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --first: #ffffff;
    --second: #9381ff;
    --third: #ffa62b;
    --fourth: #6a3937;
    --fifth: #02111b;
    --font: "Lobster Two", cursive;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("/images/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;
    display: grid;
}
