<% layout('./layouts/boilerplate.ejs') %>

<link rel="stylesheet" href="/css/auth.css" />

<div class="card">
    <div class="inner-content">
        <div class="front">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <input
                    type="text"
                    name="username"
                    placeholder="Username"
                    autocomplete="off"
                />
                <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    autocomplete="off"
                />
                <button>Submit</button>
            </form>

            <div class="changeBtn">
                <p>Don't have an account, Register Here...</p>
            </div>
        </div>
        <div class="back">
            <h1>Register</h1>
            <form action="/register" method="POST">
                <div class="name">
                    <input
                        type="text"
                        name="firstName"
                        placeholder="First Name"
                    />
                    <input
                        type="text"
                        name="lastName"
                        placeholder="Last Name"
                    />
                </div>
                <input type="text" name="username" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />
                <button>Submit</button>
            </form>
            <div class="changeBtn">
                <p>log in Instead...</p>
            </div>
        </div>
    </div>
</div>

<script>
    Array.from(document.querySelectorAll(".changeBtn")).forEach((btn) => {
        btn.addEventListener("click", () => {
            document.querySelector(".card").classList.toggle("active");
        });
    });
</script>
